.jumbotron0 {
  min-height: 200px;
  background-color: #3686be;
  width: 100%;
  margin-bottom: -20px;
}

.icons:hover {
  color: white;
}

.navbar {
  margin-top: 18px;
  background-color: black;
  width: 100%;
  opacity: .7;
  max-height: 5px;
}

.img-header {
  float: left;
  padding-right: 95%;
}

.jumbotron1 {
  width: 100%;
  background-color: red;
}
